 :root {
     /* primary color */
     --dark-pink: hsl(337, 48%, 49%);
     --link-water-white: hsl(220, 60%, 99%);

     /* secondary color */
     --san-juan-blue: hsl(207, 33%, 32%);
     --mirage-blue: hsl(207, 27%, 15%);
     --charm-pink-actives: hsl(337, 60%, 64%);
     --light-juan-blue: hsl(207, 16%, 50%);

     /* font familly*/
     --ff-body: 'Public Sans', sans-serif;
     --ff-heading: 'DM Serif Display', serif;

     /* font size */
     --fs-body-400: .938rem;
     --fs-v1-400: 4.5rem;
     --fs-v2-400: 3.5rem;
     --fs-v3-400: 3rem;
     --fs-v4-400: 2rem;
     --fs-v5-400: 2.25rem;
     --fs-v6-400: 1.5rem;
     --fs-v7-400: 1.25rem;
     --fs-v8-400: 1.125rem;

     /* font weight */
     --fw-400: 400;
     --fw-700: 700;
 }

/* top section */
main {
    background-color: var(--link-water-white);
}

.top-content {
    text-align: center;
    padding: 5rem 1rem;
}

.top-content h1 {
    font-size: var(--fs-v4-400);
    color: var(--san-juan-blue);
}

.top h2 {
    font-size: var(--fs-v6-400);
    padding: 1.5rem 0;
    color: var(--san-juan-blue);
    text-transform: capitalize;
}

.top p {
    color: var(--san-juan-blue);
    opacity: 80%;
}
/* end top section */

/* mid section */
.mid-content {
    text-align: center;
}

.mid-text {
    padding: 2rem 0;
}

.text {
    padding: 1rem 0;
}

.text hr {
    display: none;
}

.text .line {
    border-top: 1px solid var(--san-juan-blue);
    opacity: 50%;
    width: 90%;
    margin: 0 auto;
}

.mid-text span {
    color: var(--san-juan-blue);
    opacity: 70%;
}

.mid-text h3 {
    font-size: var(--fs-v3-400);
    color: var(--dark-pink);
    text-transform: uppercase;
}
/* end mid content section */

/* botttom content */
.bottom-content {
    text-align: center;
}

.bottom-content h4 {
    font-size: var(--fs-v6-400);
    padding: 1.5rem 0;
    color: var(--san-juan-blue);
    text-transform: capitalize;
}

.bottom-content p {
    color: var(--san-juan-blue);
    opacity: 70%;
    padding: 0 1rem;
}
/* end bottom section */


/* media query for tablet */
@media only screen and (min-width: 768px) {
    .top-content h1 {
        font-size: var(--fs-v3-400);
        width: 600px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .top,
    .bottom {
        display: flex;
        align-items: flex-start;
        text-align: left;
        padding: 2rem 1.5rem;
        margin: 0 auto;
    }

    .top h2,
    .bottom h4 {
        width: 35%;
        padding: 0;
        font-size: var(--fs-v4-400);
    }

    .top p,
    .bottom p {
        width: 65%;
    }

    .line {
        display: none;
    }

    .text hr {
        display: block;
        width: 29vw;
        opacity: 20%;
        color: var(--san-juan-blue);
    }

    .mid-text {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2rem 1.5rem;
    }
}
/* end media query for tablet */


/* end media query for  desktop*/
@media only screen and (min-width: 920px) {
    .top-content h1 {
        font-size: var(--fs-v3-400);
        width: 700px;
        text-align: left;
        margin-left: 8rem;
    }

    .text hr {
        display: block;
        width: 26vw;
        opacity: 20%;
        color: var(--san-juan-blue);
    }

    .mid-text {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2rem 7.5rem;
    }

    .top,
    .bottom {
        display: flex;
        align-items: flex-start;
        text-align: left;
        padding: 2rem 7.5rem;
        margin: 0 auto;
    }
}



/* end media query for desktop */