 :root {
     /* primary color */
     --dark-pink: hsl(337, 48%, 49%);
     --link-water-white: hsl(220, 60%, 99%);

     /* secondary color */
     --san-juan-blue: hsl(207, 33%, 32%);
     --mirage-blue: hsl(207, 27%, 15%);
     --charm-pink-actives: hsl(337, 60%, 64%);
     --light-juan-blue: hsl(207, 16%, 50%);

     /* font familly*/
     --ff-body: 'Public Sans', sans-serif;
     --ff-heading: 'DM Serif Display', serif;

     /* font size */
     --fs-body-400: .938rem;
     --fs-v1-400: 4.5rem;
     --fs-v2-400: 3.5rem;
     --fs-v3-400: 3rem;
     --fs-v4-400: 2rem;
     --fs-v5-400: 2.25rem;
     --fs-v6-400: 1.5rem;
     --fs-v7-400: 1.25rem;
     --fs-v8-400: 1.125rem;

     /* font weight */
     --fw-400: 400;
     --fw-700: 700;
 }

 /* header section */
 #header {
     /* position: relative; */
     width: 100vw;
     height: 300vh;
     /* overflow: hidden; */
     background-color: var(--link-water-white);
 }

 #header .nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 4rem;
     padding: 2.5rem 2rem;
     position: relative;
     z-index: 999;
 }

 .pricing-circle {
     position: absolute;
     width: 780px;
     height: 780px;
     left: 74px;
     top: -644px;
     z-index: 99;
 }
 /*end header section */


 /* pricing section */
.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5rem;
    background-color: var(--link-water-white);
}

.pricing-container hr {
    width: 90%;
    opacity: 25%;
    margin: 0 auto;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-container h1 {
    font-size: var(--fs-v4-400);
    color: var(--san-juan-blue);
    padding: 2rem 0;
}

.headings {
    text-align: center;
}

.headings h2 {
    text-transform: capitalize;
    font-size: var(--fs-v6-400);
    color: var(--dark-pink);
}

.headings h3 {
    font-size: var(--fs-v2-400);
    color: var(--san-juan-blue);
    margin-bottom: 1rem;
}

.headings p {
    padding: 1.5rem .8rem;
    color: var(--mirage-blue);
    opacity: 80%;
}

.tik-mark {
    padding: 1rem 0; 
}

.tik-mark li {
    margin: .5rem;
}

.tik-mark span {
    margin-left: .5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    color: var(--san-juan-blue);
}

.pricing-btn {
    background: transparent;
    border: 2px solid var(--san-juan-blue);
    color: var(--san-juan-blue);
    margin: 2rem 0;
    text-transform: capitalize;
    transition: .6s cubic-bezier(0.37, 0, 0.63, 1);
}

.pricing-btn:hover,
.pricing-btn:active {
    background: var(--san-juan-blue);
    color: var(--link-water-white);
}

.footer-container {
    position: absolute;
    width: 100vw;
    /* bottom: -105rem; */
}
/* end pricing section */


